body {
  margin: 0;
  font-family: 'Arial',helvetica neue,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fas, .far {
  color:#8c8c8c;
}